[Unit]
Description=Digitaler Bilderrahmen - WLAN-Waechter (alle 2 Minuten)

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
